<div class="card border-info">
    <div class="card-header bg-info text-white">
      <i class="far fa-lightbulb mr-2"></i>
      Recommendations
    </div>
    <div class="card-body">
      <div *ngIf="products.length == 0">
        <em>Sorry, there are no recommendations at this time.</em>
      </div>
      <ul *ngIf="products.length > 0" class="list-unstyled">
        <li *ngFor="let product of products">
            <i [ngClass]="product.iconClass()" class="mr-1"></i> 
          {{ product.productName }}
        </li>
      </ul>
    </div>
  </div>
  